$md-blue: #7dbfc8;
$lt-blue: hsl(195, 100%, 97%);
// $white-ish: #f3f2ff;
$white-ish: #f7f8fa;
$content-bg: #eceaec;
$bright-berry: rgb(202, 59, 90);
$berry: rgb(184, 54, 82);
$fuscia: rgb(165, 25, 130);
$purple: rgb(172, 57, 230);
$viridian-green: #068d9d;
$purple-grey: #321932;
$twilight-lavender: #6d466b;
$bright-blue: #4472ca;
$deep-blue: #2e294e;
$dusty-berry: #cb7688;
$emphasis-text: "Offside", cursive;

@mixin contentBox {
  background: $content-bg;
  min-width: 310px;
  margin: 40px 0;
  padding: 25px;
  @media only screen and (min-width: 768px) {
    max-height: none;
    border-radius: 50px;
    border-top-right-radius: 0;
    padding: 35px;
    // box-shadow: -6px 6px 0px 11px #1c545c;
    box-shadow: 5px 3px 0px 13px #a29aa3;
    box-shadow: 5px 3px 0px 13px #f0eff0;
    box-shadow: 5px 3px 0px 13px $white-ish;
    box-shadow: 10px -6px 0px 6px #f7f8fa;
    box-shadow: 10px -6px 0px 6px #cb7688;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: $md-blue;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: $purple-grey;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 800px;
    padding: 0 20px;
  }
}

main article:first-child {
  margin-top: 0;
}

main article:last-child {
  margin-bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  max-width: 700px;
  width: 50vw;
  min-width: 430px;
  height: 250px;
  margin: 20px;
  padding: 20px 40px;
  background: $lt-blue;
  background: $deep-blue;
  border-radius: 100px;
  

  @media only screen and (min-width: 768px) {
    min-width: 750px;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 40px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  h1 {
    font-size: 60px;
    font-family: "Poiret One";
    margin: 0;
    color: $bright-berry;
    color: $white-ish;
  }

  h2.name {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: $purple-grey;
    color: $dusty-berry;
    background: none;
    @media only screen and (min-width: 768px) {
      top: 0;
      font-size: 35px;
    }
  }
}

header.sticky {
  width: 100vw;
  height: 15vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-radius: 0;
  padding: 40px 40px 40px 40px;
  padding: 0 20px;
  box-shadow: 0 0 25px 2px #0f2d33;

  @media only screen and (min-width: 768px) {
    height: 200px;
    max-width: unset;
    margin: 0;
    // padding: 0;
    /* transform: scale(1, .75); */
  }

  h1,
  h2 {
    margin: 0;
    position: initial;
  }

  h1 {
    font-size: 40px;
    @media only screen and (min-width: 768px) {
      font-size: 60px;
    }
  }
  h2 {
    display: flex;
    justify-content: flex-end;
    @media only screen and (min-width: 768px) {
      font-size: 40px;
    }
  }
  br {
    // display: none;
  }
}



#tagline {
  display: none;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 24px;
  font-family: "Offside", cursive;
  font-size: 45px;
  background: $white-ish;
  color: $berry;
  border-radius: 25px;
  padding: 0px 12px;
}

p {
  margin: 5px 0;
}

article {
  width: 100%;
  background: $lt-blue;
  // background: hsl(195, 100%, 97%);
  margin: 20px 0;
  padding: 15px;
  border-radius: 0px;
  // box-shadow: 0px 2px 10px 0px $purple-grey;
  box-shadow: 0px -8px 0px 7px $dusty-berry;
  @media only screen and (min-width: 768px) {
    border-radius: 8px;
  }
  @include contentBox;

  h3 {
    font-family: "Ubuntu", sans-serif;
    margin: 0px;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
  }
}

.blog-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 7px dotted #cb7688;
  padding: 5px;

  .curate,
  .design {
    flex-basis: 47%;
    min-width: 300px;
    padding: 20px;
    background: $content-bg;
    border-radius: 25px;

    // background: $content-bg;
    p {
      background: $content-bg;
      border-radius: 25px;
      padding: 12px;
    }
  }

  .curate {
    @media only screen and (min-width: 768px) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .design {
    @media only screen and (min-width: 768px) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
