$md-blue: #7DBFC8;
$lt-blue: hsl(195, 100%, 97%);
// $white-ish: #f3f2ff;
$white-ish: #F7F8FA;
$content-bg: #ECEAEC;
$bright-berry: rgb(202, 59, 90);
$berry: rgb(184, 54, 82);
$fuscia: rgb(165, 25, 130);
$purple: rgb(172, 57, 230);
$viridian-green: #068D9D;
$purple-grey: #321932;
$twilight-lavender: #6D466B;
$bright-blue: #4472CA;
$emphasis-text: "Offside", cursive;

@mixin sign {
  transform: rotate(-3deg) skewX(-12deg);
  @media only screen and (min-width: 768px) {
    border: 9px solid $lt-blue;
  }
}
@mixin anti-spin {
  transform: rotate(3deg) skewX(12deg);
}

@mixin bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px;
}

@keyframes wiggle-spin {
  0% { transform: rotate(-18deg);}
  20% { transform: scale(1.3, 1.3) rotate(-13deg);}
  50% { transform: scale(1.2, 1.2) rotate(-20deg);}
  52% {transform: scale(1.2, 1.2) rotate(-21deg);}
  70% {transform: scale(1.2, 1.2) rotate(-15deg);}
  100% { transform: scale(1.2, 1.2) rotate(-18deg);}
}
@keyframes wiggle {
  0% { transform: rotate(0deg) ;}
  20% {font-size: 1.3em; transform: scale(1.3, 1.3) rotate(5deg);}
  50% {transform: scale(1.2, 1.2) rotate(-4deg);}
  52% {transform: scale(1.2, 1.2) rotate(-3deg);}
  70% {transform: scale(1.2, 1.2) rotate(3deg);}
  100% { transform: scale(1.2, 1.2) rotate(0deg);}
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $purple-grey;
  font-family: "Open Sans", sans-serif;
}

/* .bg-arc {
  min-height: 100vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow-x: hidden;

  border: 2px solid $purple-grey;
  border-top-left-radius: 45px;
  z-index: 20;

  box-shadow: 
  -3px -3px   rgb(35, 200, 225),
  -3px -0px   rgb(35, 200, 225),
   0px -3px   rgb(35, 200, 225),
  -6px -6px $purple-grey, 
  -6px -0px $purple-grey, 
  0px -6px $purple-grey, 
  
  -9px -9px rgb(35, 200, 225),
  0px -9px rgb(35, 200, 225),
  -9px 0px rgb(35, 200, 225),

  -12px -12px $purple-grey, 
  -12px -0px $purple-grey, 
  0px -12px $purple-grey, 

  -15px -15px rgb(35, 200, 225),
  0px -15px rgb(35, 200, 225),
  -15px 0px rgb(35, 200, 225),

  
  -50px -50px $purple-grey,
  -50px -0px $purple-grey,
  -0px -50px $purple-grey;
} */

h1,
h2 {
  font-family: "Atomic Age", "Helvetica", sans-serif;
}

header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px 0;


  @media only screen and (min-width: 768px) {
    height: 70vh;
    padding-top: 70px;
  }

  // div:nth-child(2) {
  //   order: -1;
  //   @media only screen and (min-width: 768px) {
  //     order: initial;
  //   }
  // }

 
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media only screen and (min-width: 768px) {
      min-width: 800px;
      min-height: 565px;
    }

    .logo-j {
      max-width: 500px;
      width: 90vw;
      min-width: 350px;
      // max-height: 350px;
      // height: 450px;
      min-height: 350px;
      background-image: url("../images/mini-logo.png");
      @include bg-image();
      
      @media only screen and (min-width: 768px) {
        max-width: initial;
        width: 800px;
        max-height: none;
        height: 575px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url("../images/logo-j.png");
      }
    }

    .logo-d {
      display: none;
      
      @media only screen and (min-width: 768px) {
        width: 850px;
        height: 350px;
        display: initial;
        position: absolute;
        top: 0;
        left: 0;
        // top: -140px;
        // left: -60px;
        background-image: url("../images/logo-d.png");
        // transform: scaleY(.8) rotate(-8deg) skew(25deg);
        @include bg-image();
      }
    }
    .devjaq {
      position: absolute;
      top: 85px;
      color: $white-ish;
      font-size: 5rem;
      transform: rotate(-3deg) skewX(-12deg);
      letter-spacing: -8px;
      text-shadow: -2px -2px 1px $purple-grey, 2px 2px 1px $purple-grey,
        -2px 2px 1px $purple-grey, 2px -2px 1px $purple-grey,
        -8px 8px 1px $purple-grey;
      text-align: center;
      @media only screen and (min-width: 768px) {
        font-size: 135px;
      }
    }

    .myname {
      width: 100%;
      z-index: 1;
      position: relative;
      font-family: $emphasis-text;
      color: $white-ish;
      font-size: 45px;
      text-align: center;
      @media only screen and (min-width: 768px) {
        width: auto;
        margin: 0;
        // margin-top: 60px;
        color: $purple-grey;
        position: absolute;
        top: 42px;
        left: 155px;
      }
    }
  }

  #raison {
    z-index: 2;
    min-width: 310px;
    width: 100%;
    // font-family: "Ubuntu", monospace;
    font-family: "Offside";
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    p {
      color: $white-ish;
      margin: 0;
    }
    // p:nth-of-type(1) {
    //   bottom: 8px;
    //   left: -50px;
    //   transform: rotate(5deg);
    // }
    // p:nth-of-type(2) {
    //   // left: -50px;
    //   bottom: 5px;
    //   transform: rotate(2deg);
    // }
    @media only screen and (min-width: 768px) {
      width: 432px;
      height: 140px;
      position: absolute;
      left: 45px;
      bottom: 76px;
      background-image: url("/app/images/raison-bg.png");
      @include bg-image();
      padding: 8px 24px;

      p {
        color: $berry;
        transform: rotate(7deg);
        position: relative;
        top: 35px;
        left:-20px;
        font-size: 3.5rem;
      }
    }
  }

  .social {
    max-width: 340px;
    width: 55vw;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 30px;
    transform: rotate(5.5deg);
    
    @media only screen and (min-width: 768px) {
      // width: auto;
      max-width: initial;
      width: initial;
      min-width: initial;
      height: 260px;
      flex-direction: column;
      align-items: flex-end;
      top: initial;
      bottom: 55px;
      right: 165px;
      left: initial;
      transform: rotate(18deg);
      // background: linear-gradient(
      //   272deg,
      //   $md-blue 90%,
      //   transparent 84%,
      //   $md-blue 85%
      // );
      // @include sign;
      // border-top: 30px solid transparent !important;
      //   border-image:
      // linear-gradient(
      //   15deg,
      //   $lt-blue 90%, rgba(0,0,0,0)80% ,
      //   rgba(0,0,0,0)99.5%) 1 49% !important;
    }

    a {
      min-width: 55px;
      min-height: 55px;
      padding: 2px;
      transform: rotate(-5deg);

      @media only screen and (min-width: 768px) {
        transform: rotate(-18deg);
      }
    }
    a:hover {
      @media only screen and (min-width: 768px) {
        transform: rotate(-18deg) scale(1.2, 1.2);
        animation-name: wiggle-spin;
      }
    }
  }
}

h3 {
  font-family: $emphasis-text;
  color: $purple-grey;
  font-size: 2.5rem;
}

main {
  background-color: transparent;
  min-width: 310px;
  clip-path: inset(-100px -100px -100px 0px);
  @media only screen and (min-width: 768px) {
    max-width: 800px;
    clip-path: none;
  }
  
  .content {
    min-width: 310px;
    margin: 40px 0;
    padding: 25px;
    background-color: $content-bg;
    h3 {
      margin-top: 0;
    }
    @media only screen and (min-width: 768px) {
      max-height: none;
      border-radius: 50px;
      border-top-right-radius: 0;
      padding: 35px;
      box-shadow: -1px 0 0 transparent, 2px 2px 100px #111, 0 0 25px 2px #111;
    }
    p {
      a {
        display: inline;
        border: none;
        animation: none;
        font-family: "Open Sans";
      }
    }
  }
  
  .content:first-of-type {
    margin-top: 0;
  }
  
  .content:last-of-type {
    margin-bottom: 0;
  }
}

a {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white-ish;
  // background: $content-bg;
  color: $lt-blue;
  color: $berry;
  border: 2px solid $berry;
  border-right: 4px solid $berry;
  border-bottom: 6px solid $berry;
  // border-radius: 15px;
  border-radius: 25px;
  padding: 0px 12px;
  font-family: "Offside";
  font-weight: 400;
  text-decoration: none;

}
a:hover {
  box-shadow: none;
  background: $lt-blue;
  color: $bright-berry;
  border-color: $bright-berry;
  animation-name: wiggle;
  animation-duration: .75s;
  transform: scale(1.2, 1.2);
  // @media only screen and (min-width: 768px) {
  //   transform: scale(1.2, 1.2) rotate(3deg) skewX(12deg);
  //   animation-name: wiggle-spin;
  // }
}
a:active {
  margin-right: 2px;
  margin-top: 4px;
  border-right: 2px solid $bright-berry;
  border-bottom: 2px solid $bright-berry;
}

footer {
  width: 100%;
  margin-top: 20px;
  // font-family: "Ubuntu", monospace;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    margin: 0 auto;
    padding: 10px 5px;
    background: $md-blue;

    @media only screen and (min-width: 768px) {
      max-width: 800px;
      border: 9px solid $lt-blue;
      border-radius: 50px;
      padding: 15px 25px;
    }
    a {
      @media only screen and (min-width: 768px) {
      font-size: 1.2rem;
      }
    }
  }
}

.resume {
  width: 95vw;
  min-height: 550px;
  @media only screen and (min-width: 768px) {
    width: 750px;
    min-height: 750px;
  }
}

/****************************************/

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
}
