* {
  box-sizing: border-box;
}

body {
  background: hsl(195, 40%, 75%);
  /* background-color: hsl(278, 100%, 90%); */
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  /* background-image: linear-gradient(aqua, blue, rgb(102, 51, 153)); */
  max-width: 700px;
  margin: 20px;
  padding: 0px 40px 40px 40px;
  /* background: hsl(278, 100%, 97%); */
  background: hsl(195, 100%, 97%);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  top: 0;
}

#tagline {
  display: none;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 2rem;
  margin: 1rem 0;
}

h1 {
  font-family: 'Poiret One';
  margin: 0;
  color: rgb(200, 60, 165);
  font-size: 65px;
}

h2.name {
  /* margin-bottom: 30px; */
  /* margin-left: 50px; */
  /* margin-left: 8vw; */
  position: relative;
  top: 35px;
  margin: 0;
  /* margin-right: 10px; */
}

h2 {
  margin: 0;
  font-family: 'Satisfy', cursive;
  color: rgb(50, 0, 50);
  font-size: 45px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(50, 0, 50);
  margin: 8px;
  margin-top: 0px;
  font-size: 2rem;
  font-weight: 300;
}

p {
  margin: 5px;
  color: rgb(30, 0, 30);
  /* background: hsl(278, 100%, 97%); */
}

article {
  width: 100%;
  background: hsl(278, 100%, 97%);
  background: hsl(195, 100%, 97%);

  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px 0px rgb(50, 0, 50);
}

.blog-sections { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 5px dotted rgb(200, 60, 165);
  padding: 20px;
  background: hsl(278, 100%, 97%);
}

.curate, .design {
  flex-basis: 45%;
  min-width: 300px;
}

@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  header.sticky {
    width: 100vw;
    max-width: unset;
    height: 15vh;
    z-index: 10;
    justify-content: flex-start;
    margin: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: 0px 10px 20px grey;
    /* transform: scale(1, .75); */
  }

  header.sticky h1, header.sticky h2 {
    transform: scale(.75);
    margin: 0;
    position: initial;
  }

  header.sticky br {
    display: none;
  }

  #tagline {
    display: initial;
  }
}